@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ua7ahp');
  src:  url('fonts/icomoon.eot?ua7ahp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ua7ahp') format('truetype'),
    url('fonts/icomoon.woff?ua7ahp') format('woff'),
    url('fonts/icomoon.svg?ua7ahp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fencing:before {
  content: "\e900";
}
.icon-maintainance:before {
  content: "\e901";
}
.icon-planting:before {
  content: "\e902";
}
.icon-watering:before {
  content: "\e903";
}
.icon-thumbs:before {
  content: "\e904";
}
.icon-fall-cleanup:before {
  content: "\e905";
}
.icon-garden-care:before {
  content: "\e906";
}
.icon-integration-and-drainage:before {
  content: "\e907";
}
.icon-snow-removing:before {
  content: "\e908";
}
.icon-urban-gardening:before {
  content: "\e909";
}
.icon-watering2:before {
  content: "\e90a";
}
.icon-address:before {
  content: "\e90b";
}
.icon-call:before {
  content: "\e90c";
}
.icon-hour:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-why-choose-1:before {
  content: "\e90f";
}
.icon-why-choose-2:before {
  content: "\e910";
}
.icon-why-choose-3:before {
  content: "\e911";
}
.icon-why-choose-4:before {
  content: "\e912";
}
.icon-call-back:before {
  content: "\e913";
}
.icon-caring:before {
  content: "\e914";
}
.icon-Digging:before {
  content: "\e915";
}
.icon-fun-fact-01:before {
  content: "\e916";
}
.icon-fun-fact-02:before {
  content: "\e917";
}
.icon-fun-fact-03:before {
  content: "\e918";
}
.icon-gardening:before {
  content: "\e919";
}
.icon-grass-triming:before {
  content: "\e91a";
}
.icon-grass:before {
  content: "\e91b";
}
.icon-planting-and-growth:before {
  content: "\e91c";
}
.icon-price-1:before {
  content: "\e91d";
}
.icon-price-2:before {
  content: "\e91e";
}
.icon-price-3:before {
  content: "\e91f";
}
.icon-urban-gardening2:before {
  content: "\e920";
}
.icon-contact_1:before {
  content: "\e921";
  color: #008435;
}
.icon-contact_2:before {
  content: "\e922";
  color: #008435;
}
.icon-contact_3:before {
  content: "\e923";
  color: #008435;
}
.icon-contact_12:before {
  content: "\e924";
  color: #008435;
}
.icon-contact_22:before {
  content: "\e925";
  color: #008435;
}
.icon-contact_32:before {
  content: "\e926";
  color: #008435;
}
.icon-contact_4:before {
  content: "\e927";
  color: #008435;
}
.icon-pricing_1:before {
  content: "\e928";
}
.icon-pricing_2:before {
  content: "\e929";
}
.icon-pricing_3:before {
  content: "\e92a";
}
.icon-client_review:before {
  content: "\e92b";
  color: #008435;
}
.icon-Free_tips:before {
  content: "\e92c";
  color: #fff;
}
.icon-fun_fact_1:before {
  content: "\e92d";
  color: #fff;
}
.icon-fun_fact_2:before {
  content: "\e92e";
  color: #fff;
}
.icon-fun_fact_3:before {
  content: "\e92f";
  color: #fff;
}
.icon-fun_fact_4:before {
  content: "\e930";
  color: #fff;
}
.icon-iso:before {
  content: "\e931";
  color: #008435;
}
.icon-number_1:before {
  content: "\e932";
  color: #008435;
}
.icon-Our_service_1:before {
  content: "\e933";
  color: #008435;
}
.icon-Our_service_2:before {
  content: "\e934";
  color: #008435;
}
.icon-Our_service_3:before {
  content: "\e935";
  color: #008435;
}
.icon-Our_service_4:before {
  content: "\e936";
  color: #008435;
}
.icon-pricing_12:before {
  content: "\e937";
  color: #008435;
}
.icon-pricing_22:before {
  content: "\e938";
  color: #008435;
}
.icon-pricing_32:before {
  content: "\e939";
  color: #008435;
}
.icon-recent_work_1:before {
  content: "\e93a";
  color: #fff;
}
.icon-recent_work_2:before {
  content: "\e93b";
  color: #fff;
}
.icon-recent_work_3:before {
  content: "\e93c";
  color: #fff;
}
.icon-recent_work_4:before {
  content: "\e93d";
  color: #fff;
}
.icon-recent_work_5:before {
  content: "\e93e";
  color: #fff;
}
.icon-recent_work_6:before {
  content: "\e93f";
  color: #fff;
}
.icon-service_1:before {
  content: "\e940";
  color: #008435;
}
.icon-service_2:before {
  content: "\e941";
  color: #008435;
}
.icon-service_3:before {
  content: "\e942";
  color: #008435;
}
